* {
    color: white;
}

.info_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px !important;
    padding: 0;
    background-color: black;
    position: relative;
}

.info_container div {
    overflow: hidden;
}

.flex_cont_soc {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.hr {
    margin: 0;
    position: absolute;
    background-color: white;
    width: 0.3px;
    height: 25px;
    transform: rotate(0deg);
}

.top {
    top: 0;
    right: 50%;
}

.btm {
    bottom: 0;
    right: 50%;
}

.data_cont {
    height: 320px;
    width: 400px;
}

.data_cont h1 {
    text-align: right;
}

.info_spec p {
    text-align: right;
    font-size: 23px;
    line-height: 28px;
}

.socials a,
svg {
    font-size: 24px;
    text-align: center;
}

.socials h1 {
    text-align: left;
}

.aligner {
    height: 30px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.slider {
    background-color: black;
    height: 450px;
    padding: 25px 0;
}

@media screen and (max-width: 900px) {
    .info_container {
        flex-direction: column;
        height: auto !important;
        padding: 15px 0;
        text-align: center;
    }
    .data_cont {
        height: 310px;
    }
    .hr {
        width: 25px;
        height: 0.3px;
    }
    .top {
        right: 0;
        top: 50%;
    }
    .btm {
        left: 0;
        top: 50%;
    }
}


/* ================== MEDIA QUERIES (Extra SMALL DEVICES) ============= */

@media screen and (max-width: 420px) {
    .socials h1 {
        font-size: 31px;
    }
    .data_cont {
        width: auto;
        padding-inline: 5px;
    }
    .info_spec p {
        text-align: right;
        font-size: 20px;
        line-height: 25px;
    }
    .socials a,
    svg {
        font-size: 21px;
    }
}