.info_holder {
    padding: 150px 0 50px 0;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.m_holder {
    width: 80%;
    margin: 0 10%;
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 10px;
}

.info_holder_hr {
    position: absolute;
    color: #FF008B;
    height: 170px;
}

.l {
    left: -40px;
    text-align: left;
}

.r {
    right: -40px;
    text-align: right;
}


.text {
    display: block;
    width: 50%;
    font-size: 22px;
}

.text h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
}


.img {
    height: 650px;
}

/* Grided part */ 


.incorporation {
    display: flex;
    row-gap: 80px;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.top_inc, .bottom_inc {
    width: 80%;
    text-align: left;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.inc_svg {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.inc_svg img{
    width: 62px;
}

.inc_box {
    width: 428px;
    display: flex;
    gap: 21px;
}

.inc_text {
    width: 307px;
    font-size: 22px;
    font-weight: 400;
}

.inc_text h2{
    margin: 0;
    font-size: 33px;
    margin-bottom: 3px;
}

 

/* Media Queries */

@media screen and (max-width: 1180px) {
    .text.l, .text.r {
        background-image: url("../../Assets/g1.png");
        background-position: center; 
        height: 700px;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: grey;
        background-blend-mode: multiply;
    }

    .r {
        background-image: url("../../Assets/g2.png") !important;
    }

    .text {
        padding: 10px 15px;
        width: 70%;
    }

    .img {
        display: none
    }

    .m_holder  {
        justify-content: center;
    }
    
}



/* ================== MEDIA QUERIES (SMALL DEVICES) ============= */

@media screen and (max-width: 1000px) {
     .text {
        width: 90%;
    }
    /* FlexBox */
}

@media screen and (max-width: 600px) {
    .m_holder {
        width: 95%;
        margin: 0 2.5%;
    }

     .text {
        width: 100%;
        font-size: 19px;
    }

    /* FlexBox */

    
    .inc_svg {
        height: 75px;
        width: 75px;
    }

    .inc_svg img{
    width: 50px;
    }

    .top_inc, .bottom_inc {
        width: 95%;
        margin: 0 2.5%;
    }

    .inc_text {
        font-size: 19px;
        width: 70%;
    }

    
    
}


