.parent {
    position: relative;
    background-image: url("../Assets/bg.png");
    height: 550px;
    background-size: cover;
}

.hold {
    position: absolute;
    left: 157px;
    bottom: 111px;
    display: flex;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    font-size: 40px;
}

.h1 h1 {
    margin: 0;
}

.hold img {
    height: 328px;
}

@media screen and (max-width: 1024px) {
    .hold {
        left: 7px;
    }
}


/* ================== MEDIA QUERIES (SMALL DEVICES) ============= */

@media screen and (max-width: 650px) {
    .hold {
        left: 0px;
        font-size: 32px;
        bottom: 145px;
    }
    .hold img {
        height: 238px;
    }
}


/* ================== MEDIA QUERIES (Extra SMALL DEVICES) ============= */

@media screen and (max-width: 500px) {
    .hold {
        display: block;
        align-items: center;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 32px;
        bottom: 115px;
    }
    .hold img {
        height: 238px;
    }
}