.parent {
    position: relative;
    /*background-image: url("../Assets/bg.png"); */
    height: 780px;
    background-size: cover;
}

.b_v{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(70%);
}

source {
    object-fit: cover;
    
}

.hold {
    position: absolute;
    left: 157px;
    bottom: 30%;
    display: flex;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    font-size: 40px;
}

.h1{
    width: 50%;
}

.h1 h1 {
    margin: 0;
    font-size: 55px;
}

.h1 p {
    margin: 0;
    font-size: 28px;
}


@media screen and (max-width: 1024px) {
    .hold {
        left: 107px;
    }
    .h1{
        width: 75%;
    }
}


/* ================== MEDIA QUERIES (SMALL DEVICES) ============= */

@media screen and (max-width: 650px) {
    .parent{
        height: 700px;
    }
     .hold{
    left: 40px;
   }
   .h1 {
    width: 90%;
   }
   .h1 h1{
    font-size: 48px;
    margin-bottom: 10px;
   }
   .h1 p {
    font-size: 24px;
   }
}


/* ================== MEDIA QUERIES (Extra SMALL DEVICES) ============= */

@media screen and (max-width: 500px) {
   .hold{
    left: 40px;
   }
   .h1 {
    width: 90%;
   }
   .h1 h1{
    font-size: 48px;
    margin-bottom: 10px;
   }
   .h1 p {
    font-size: 24px;
   }
}